covid 19 india

In [338]:
import pandas as pd
import json
import numpy as np

In [339]:
covid19india = pd.read_json('https://api.covid19india.org/raw_data6.json')

In [340]:
data = covid19india['raw_data']

In [341]:
data.iloc[0].keys()

dict_keys(['agebracket', 'contractedfromwhichpatientsuspected', 'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict', 'detectedstate', 'entryid', 'gender', 'nationality', 'notes', 'numcases', 'patientnumber', 'source1', 'source2', 'source3', 'statecode', 'statepatientnumber', 'statuschangedate', 'typeoftransmission'])

In [342]:
cols = []
for i in data.iloc[0].keys():
    cols.append(i)

print(cols)

['agebracket', 'contractedfromwhichpatientsuspected', 'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict', 'detectedstate', 'entryid', 'gender', 'nationality', 'notes', 'numcases', 'patientnumber', 'source1', 'source2', 'source3', 'statecode', 'statepatientnumber', 'statuschangedate', 'typeoftransmission']

In [343]:
vals = []
for j in data.iloc[0].values():
    vals.append(j)

print(vals)

['', '', 'Hospitalized', '05/06/2020', '', 'Lunglei', 'Mizoram', '48613', '', '', 'Institutional quarantine at Lunglei', '1', '78000', 'https://twitter.com/dipr_mizoram/status/1268736125104910336', '', '', 'MZ', '', '', '']

In [344]:
data1=pd.DataFrame([vals], columns=cols)

In [345]:
cols = []
for i in data.iloc[1].keys():
    cols.append(i)

print(cols)

['agebracket', 'contractedfromwhichpatientsuspected', 'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict', 'detectedstate', 'entryid', 'gender', 'nationality', 'notes', 'numcases', 'patientnumber', 'source1', 'source2', 'source3', 'statecode', 'statepatientnumber', 'statuschangedate', 'typeoftransmission']

In [346]:
vals = []
for j in data.iloc[1].values():
    if(j == ''):
        j= np.nan
    else:
        j=j
    vals.append(j)

In [347]:
data2 = pd.DataFrame([vals], columns=cols)
print(data2)

   agebracket  contractedfromwhichpatientsuspected currentstatus  \
0         NaN                                  NaN  Hospitalized

  dateannounced detectedcity detecteddistrict detectedstate entryid  gender  \
0    05/06/2020      Falkawn           Aizawl       Mizoram   48614     NaN

   nationality notes numcases patientnumber  \
0          NaN   ZMC        4         78001

                                             source1  source2  source3  \
0  https://twitter.com/dipr_mizoram/status/126873...      NaN      NaN

  statecode  statepatientnumber  statuschangedate  typeoftransmission
0        MZ                 NaN               NaN                 NaN

In [348]:
first_check = pd.concat([data1, data2])
for i in first_check.index:
    print(i)

0
0

In [349]:
first_check.reset_index(inplace=True)
first_check

,index,agebracket,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,entryid,gender,...,notes,numcases,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,0,,,Hospitalized,05/06/2020,,Lunglei,Mizoram,48613,,...,Institutional quarantine at Lunglei,1,78000,https://twitter.com/dipr_mizoram/status/126873...,,,MZ,,,
1,0,NaN,NaN,Hospitalized,05/06/2020,Falkawn,Aizawl,Mizoram,48614,NaN,...,ZMC,4,78001,https://twitter.com/dipr_mizoram/status/126873...,NaN,NaN,MZ,NaN,NaN,NaN

In [350]:
df= first_check.drop(['index'], axis=1)
df

,agebracket,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,entryid,gender,nationality,notes,numcases,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,,,Hospitalized,05/06/2020,,Lunglei,Mizoram,48613,,,Institutional quarantine at Lunglei,1,78000,https://twitter.com/dipr_mizoram/status/126873...,,,MZ,,,
1,NaN,NaN,Hospitalized,05/06/2020,Falkawn,Aizawl,Mizoram,48614,NaN,NaN,ZMC,4,78001,https://twitter.com/dipr_mizoram/status/126873...,NaN,NaN,MZ,NaN,NaN,NaN

In [358]:
def clean_data(df):
    dfs = []
    for index in df.index:
        print(index)
        data = df.iloc[index]
        cols = []
        vals = []
        for i in data.keys():
            cols.append(i)
        for j in data.values():
            if (j== ''):
                j= np.nan
            else:
                j=j
            vals.append(j)
        data_name = pd.DataFrame([vals], columns= cols)
        dfs.append(data_name)
        print(len(dfs), index)

In [359]:
dss = data.head(n=3)
clean_data(dss)

0
1 0
1
2 1
2
3 2

In [352]:
new_value ={}
hello_data = data.head(n=4)
for i in hello_data.index:
    value = {i:hello_data.iloc[i].values}
    new_value.append(value)
    print(new_value)

AttributeError: 'dict' object has no attribute 'append'

In [335]:
#number of missing columns in the each columns

type(covid_india.isnull().sum()/covid_india.shape[0])

NameError: name 'covid_india' is not defined

In [336]:
covid_india.shape

NameError: name 'covid_india' is not defined

In [337]:
#percentage of missing data in each column
data_lost = covid_india.isnull().sum()/ covid_india.shape[0]

NameError: name 'covid_india' is not defined

In [69]:
data_lost = [x*100 for x in data_lost]

In [71]:
percent_lost = pd.DataFrame(data = percent_lost, columns=covid_india.columns)

NameError: name 'percent_lost' is not defined

In [63]:
len(covid_india.columns)

21