covid 19 india

In [1]:
import pandas as pd

In [2]:
covid19india = pd.read_csv('https://raw.githubusercontent.com/covid19india/api/gh-pages/csv/latest/raw_data.csv')

In [3]:
covid19india.head(n=3)

,Patient Number,State Patient Number,Date Announced,Estimated Onset Date,Age Bracket,Gender,Detected City,Detected District,Detected State,State code,...,Notes,Contracted from which Patient (Suspected),Nationality,Type of transmission,Status Change Date,Source_1,Source_2,Source_3,Backup Notes,Num cases
0,1.0,KL-TS-P1,30/01/2020,NaN,20,F,Thrissur,Thrissur,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
1,2.0,KL-AL-P1,02/02/2020,NaN,NaN,NaN,Alappuzha,Alappuzha,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,NaN,Student from Wuhan,1
2,3.0,KL-KS-P1,03/02/2020,NaN,NaN,NaN,Kasaragod,Kasaragod,Kerala,KL,...,Travelled from Wuhan,NaN,India,Imported,14/02/2020,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,Student from Wuhan,1

In [4]:
covid19india.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28183 entries, 0 to 28182
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Patient Number                             27891 non-null  float64
 1   State Patient Number                       2997 non-null   object
 2   Date Announced                             28183 non-null  object
 3   Estimated Onset Date                       0 non-null      float64
 4   Age Bracket                                2346 non-null   object
 5   Gender                                     5313 non-null   object
 6   Detected City                              2350 non-null   object
 7   Detected District                          21198 non-null  object
 8   Detected State                             28182 non-null  object
 9   State code                                 28182 non-null  object
 10  Current Status                             28183 non-null  object
 11  Notes                                      26847 non-null  object
 12  Contracted from which Patient (Suspected)  1638 non-null   object
 13  Nationality                                2709 non-null   object
 14  Type of transmission                       2990 non-null   object
 15  Status Change Date                         27780 non-null  object
 16  Source_1                                   27507 non-null  object
 17  Source_2                                   3873 non-null   object
 18  Source_3                                   452 non-null    object
 19  Backup Notes                               361 non-null    object
 20  Num cases                                  28183 non-null  int64
dtypes: float64(2), int64(1), object(18)
memory usage: 4.5+ MB

In [5]:
covid_india = covid19india
covid_india.columns = [x.replace(' ', '_') for x in covid_india.columns]

In [48]:
#number of missing columns in the each columns

type(covid_india.isnull().sum()/covid_india.shape[0])

pandas.core.series.Series

In [67]:
covid_india.shape

(28183, 21)

In [68]:
#percentage of missing data in each column
data_lost = covid_india.isnull().sum()/ covid_india.shape[0]

In [69]:
data_lost = [x*100 for x in data_lost]

In [71]:
percent_lost = pd.DataFrame(data = percent_lost, columns=covid_india.columns)

NameError: name 'percent_lost' is not defined

In [63]:
len(covid_india.columns)

21