covid 19 india

In [1]:
import pandas as pd
import json
import numpy as np

In [10]:
covid19_state = pd.read_csv('https://api.covid19india.org/csv/latest/state_wise_daily.csv')

In [2]:
covid19india_1 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data1.csv')

In [3]:
covid19india_2 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data2.csv')

In [4]:
covid19india_3 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data3.csv')

In [5]:
covid19india_4 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data4.csv')

In [6]:
covid19india_5 = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data5.csv')

In [7]:
covid19_1and2 = pd.concat([covid19india_1, covid19india_2])
covid19_3_4and5 = pd.concat([covid19india_3, covid19india_4, covid19india_5])

In [8]:
covid19_1and2.columns

Index(['Patient Number', 'State Patient Number', 'Date Announced',
       'Estimated Onset Date', 'Age Bracket', 'Gender', 'Detected City',
       'Detected District', 'Detected State', 'State code', 'Current Status',
       'Notes', 'Contracted from which Patient (Suspected)', 'Nationality',
       'Type of transmission', 'Status Change Date', 'Source_1', 'Source_2',
       'Source_3', 'Backup Notes', 'Num cases'],
      dtype='object')

In [9]:
covid19_3_4and5.columns

Index(['Entry_ID', 'State Patient Number', 'Date Announced', 'Age Bracket',
       'Gender', 'Detected City', 'Detected District', 'Detected State',
       'State code', 'Num Cases', 'Current Status',
       'Contracted from which Patient (Suspected)', 'Notes', 'Source_1',
       'Source_2', 'Source_3', 'Nationality', 'Type of transmission',
       'Status Change Date', 'Patient Number'],
      dtype='object')

In [24]:
covid19_state[covid19_state['Status'] == 'Confirmed']['TT'].sum()

275996

In [45]:
states = []
cases = []
cols = covid19_state.columns
cols = cols.tolist()
cols.pop(0)
cols.pop(0)
for i in cols:
    
    confirmed_cases = covid19_state[covid19_state['Status'] == 'Confirmed'][i].sum()
    states.append(i)
    cases.append(confirmed_cases)

In [61]:
covid_states = pd.DataFrame(list(zip(states, cases)), columns= ['Satate CODE', 'No of Cases'])

In [63]:
covid_states

   Satate CODE  No of Cases
0           TT       275996
1           AN           34
2           AP         4882
3           AR           57
4           AS         3051
5           BR         5455
6           CH          326
7           CT         1211
8           DN           22
9           DD            0
10          DL        31309
11          GA          359
12          GJ        21044
13          HR         5209
14          HP          437
15          JK         4346
16          JH         1416
17          KA         5921
18          KL         2097
19          LA          108
20          LD            0
21          MP         9849
22          MH        90787
23          MN          304
24          ML           43
25          MZ           88
26          NL          127
27          OR         3140
28          PY          132
29          PB         2719
30          RJ        11245
31          SK           13
32          TN        34914
33          TG         3920
34          TR          866
35          UP        11335
36          UT         1537
37          WB         8985
38          UN         8711

In [65]:
covid19_stat