covid 19 india

In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
covid19india = pd.read_json('https://api.covid19india.org/raw_data6.json')

In [3]:
data = covid19india['raw_data']

In [4]:
data.iloc[0].keys()

dict_keys(['agebracket', 'contractedfromwhichpatientsuspected', 'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict', 'detectedstate', 'entryid', 'gender', 'nationality', 'notes', 'numcases', 'patientnumber', 'source1', 'source2', 'source3', 'statecode', 'statepatientnumber', 'statuschangedate', 'typeoftransmission'])

In [5]:
cols = []
for i in data.iloc[0].keys():
    cols.append(i)

print(cols)

['agebracket', 'contractedfromwhichpatientsuspected', 'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict', 'detectedstate', 'entryid', 'gender', 'nationality', 'notes', 'numcases', 'patientnumber', 'source1', 'source2', 'source3', 'statecode', 'statepatientnumber', 'statuschangedate', 'typeoftransmission']

In [6]:
vals = []
for j in data.iloc[0].values():
    vals.append(j)

print(vals)

['', '', 'Hospitalized', '05/06/2020', '', 'Lunglei', 'Mizoram', '48613', '', '', 'Institutional quarantine at Lunglei', '1', '78000', 'https://twitter.com/dipr_mizoram/status/1268736125104910336', '', '', 'MZ', '', '', '']

In [7]:
data1=pd.DataFrame([vals], columns=cols)

In [8]:
cols = []
for i in data.iloc[1].keys():
    cols.append(i)

print(cols)

['agebracket', 'contractedfromwhichpatientsuspected', 'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict', 'detectedstate', 'entryid', 'gender', 'nationality', 'notes', 'numcases', 'patientnumber', 'source1', 'source2', 'source3', 'statecode', 'statepatientnumber', 'statuschangedate', 'typeoftransmission']

In [9]:
vals = []
for j in data.iloc[1].values():
    if(j == ''):
        j= np.nan
    else:
        j=j
    vals.append(j)

In [10]:
data2 = pd.DataFrame([vals], columns=cols)
print(data2)

   agebracket  contractedfromwhichpatientsuspected currentstatus  \
0         NaN                                  NaN  Hospitalized

  dateannounced detectedcity detecteddistrict detectedstate entryid  gender  \
0    05/06/2020      Falkawn           Aizawl       Mizoram   48614     NaN

   nationality notes numcases patientnumber  \
0          NaN   ZMC        4         78001

                                             source1  source2  source3  \
0  https://twitter.com/dipr_mizoram/status/126873...      NaN      NaN

  statecode  statepatientnumber  statuschangedate  typeoftransmission
0        MZ                 NaN               NaN                 NaN

In [11]:
first_check = pd.concat([data1, data2])
for i in first_check.index:
    print(i)

0
0

In [12]:
first_check.reset_index(inplace=True)
first_check

,index,agebracket,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,entryid,gender,...,notes,numcases,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,0,,,Hospitalized,05/06/2020,,Lunglei,Mizoram,48613,,...,Institutional quarantine at Lunglei,1,78000,https://twitter.com/dipr_mizoram/status/126873...,,,MZ,,,
1,0,NaN,NaN,Hospitalized,05/06/2020,Falkawn,Aizawl,Mizoram,48614,NaN,...,ZMC,4,78001,https://twitter.com/dipr_mizoram/status/126873...,NaN,NaN,MZ,NaN,NaN,NaN

In [13]:
df= first_check.drop(['index'], axis=1)
df

,agebracket,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,entryid,gender,nationality,notes,numcases,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,,,Hospitalized,05/06/2020,,Lunglei,Mizoram,48613,,,Institutional quarantine at Lunglei,1,78000,https://twitter.com/dipr_mizoram/status/126873...,,,MZ,,,
1,NaN,NaN,Hospitalized,05/06/2020,Falkawn,Aizawl,Mizoram,48614,NaN,NaN,ZMC,4,78001,https://twitter.com/dipr_mizoram/status/126873...,NaN,NaN,MZ,NaN,NaN,NaN

In [28]:
def clean_data(data):
    list_df = []
    for i in data.index:
        strip_data = data.iloc[i]
        col = []
        val = []
        for i in strip_data.keys():
            col.append(strip_data)
        for vals in strip_data.values():
            val.append(vals)
        new_data = pd.DataFrame([val], columns= cols)

In [29]:
test_data = data.head(n=4)
clean_data(test_data)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [63]:
len(covid_india.columns)

21